.pet-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #dddddd solid 0.5px;
    margin-bottom: 1rem;
    padding: 15px;
    width: 80%;
    margin: auto;
    position: relative;
    padding-top: 30px;
}

.card-title-header {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    border-bottom: #dddddd solid 0.5px;
}

.card-img-top {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;

}

.card-idade {
    font-weight: 600;
    font-size: 0.875rem;
    color: #555;
    padding-bottom: 0.5rem;
}

.card-text {
    font-size: 0.875rem;
    color: #555;
}

.card-text strong {
    color: #333;
}

.custom-button {
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    color: var(--color-medium-aquamarine);
    font-weight: bold;
    font-size: 15px;
    border: 2px solid var(--color-medium-aquamarine);
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.custom-button:hover {
    border-color: var(--color-dark-green);
    color: var(--color-dark-green);
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--color-dark-green);
}

@media (max-width: 768px) {
    .pet-card {
        flex-wrap: wrap;
    }

    .button-container-pet {
        position: static;
        width: 80%;
        padding-top: 60px;
    }

    .custom-button {
        width: 90%;
    }
}