:root {
    --color-gainsboro: #fff;
    --color-grey11: #1C1C1C;
    --color-medium-aquamarine: #66CDAA;
    --color-dark-green: #4AB59A;
    --color-dark-grey: #333;
}

.form-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: var(--color-gainsboro);
    position: relative;
    margin-bottom: 2rem;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    border-bottom: #dddddd solid 0.5px;
}

.form-section {
    margin-bottom: 1rem;
}

.form-label {
    margin-top: 30px;
    display: block;
    font-weight: bold;
    color: var(--color-grey11);
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875rem;
}

.file-input-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.file-input-label {
    background-color: var(--color-medium-aquamarine);
    color: var(--color-gainsboro);
    width: 50%;
    padding-block: 20px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
}

.file-input {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-preview {
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.submit-button,
.back-button {
    width: 190px;
    padding: 20px 0;
    margin: 5px;
    border-radius: 15px;
    background-color: #fff;
    color: var(--color-medium-aquamarine);
    font-weight: bold;
    font-size: 15px;
    border: 2px solid var(--color-medium-aquamarine);
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.submit-button:hover,
.back-button:hover {
    border-color: var(--color-dark-green);
    color: var(--color-dark-green);
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--color-dark-green);
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: auto;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--color-dark-green);
    box-shadow: 0 0 0 0.2rem rgba(74, 181, 154, 0.25);
    outline: none;
}