/* index.css ou App.css */

:root {
    --color-gainsboro: #fff;
    --color-grey11: #1C1C1C;
    --color-medium-aquamarine: #66CDAA;
    --color-dark-green: #4AB59A;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-gainsboro);
    color: var(--color-grey11);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}